/* Pane View */

.cwf_paneview {
    overflow: auto;
    display: inline-block;
}

.cwf_paneview-horizontal > .cwf_pane {
    display: inline-block;
}

.cwf_paneview-vertical > .cwf_pane {
    display: block;
}

/* Pane */

.cwf_pane {
    position: relative;
}

.cwf_pane > .ui-resizable-e {
    cursor: ew-resize;
}

.cwf_pane > .ui-resizable-e:hover {
    border-left: 2px solid gray;
    opacity: .5;   
}

.cwf_pane > .ui-resizable-s {
    cursor: ns-resize;
}

.cwf_pane > .ui-resizable-s:hover {
    border-top: 2px solid gray;
    opacity: .5;   
}

