/* Pane View */

.cwf_paneview {
    overflow: hidden;
    display: inline-flex;
    align-items: stretch;
    background-color: white;
    border-radius: 5px;
}

.cwf_paneview-horizontal {
    flex-direction: row;
}

.cwf_paneview-horizontal > .cwf_pane {
    min-width: 0;
    margin: 0 2px 0 2px;
}

.cwf_paneview-horizontal > .cwf_pane:first-child {
    margin-left: 0;
}

.cwf_paneview-horizontal > .cwf_pane:last-child {
    margin-right: 0;
}

.cwf_paneview-vertical {
    flex-direction: column;
}

.cwf_paneview-vertical > .cwf_pane {
    min-height: 0;
    margin: 2px 0 2px 0;
}

.cwf_paneview-vertical > .cwf_pane:first-child {
    margin-top: 0;
}

.cwf_paneview-vertical > .cwf_pane:last-child {
    margin-bottom: 0;
}

/* Pane */

.cwf_pane {
    display: flex;
    flex-direction: column;
    overflow: visible;
    position: relative;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.cwf_pane > span:first-child {
    border-bottom: 1px solid lightgray;
    background: lightblue;
    text-align: center;
}

.cwf_pane > span:first-child:empty {
    display: none;
}

.cwf_pane > :not(:first-child) {
    overflow: auto;
    padding: 5px;
}

.cwf_pane > .ui-resizable-e {
    cursor: col-resize;
    opacity: .5;   
    right: -14px;
    z-index: auto!important;
}

.cwf_pane > .ui-resizable-e:hover {
    border-left: 2px solid gray;
}

.cwf_pane > .ui-resizable-s {
    cursor: row-resize;
    opacity: .5;  
    bottom: -14px;
    z-index: auto!important;
}

.cwf_pane > .ui-resizable-s:hover {
    border-top: 2px solid gray;
}

