/* Pane View */

.cwf_paneview {
    overflow: auto;
    display: inline-flex;
}

.cwf_paneview-horizontal {
    flex-direction: row;
}

.cwf_paneview-vertical {
    flex-direction: column;
}

/* Pane */

.cwf_pane {
    display: flex;
    overflow: auto;
    position: relative;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 2px;
}

.cwf_pane > :first-child {
    border-bottom: 1px solid lightgray;
    background: lightblue;
    text-align: center;
}

.cwf_pane > :nth-child(2) {
    overflow: hidden;
    display: flex;
    flex: 1;
}

.cwf_pane > .ui-resizable-e {
    cursor: col-resize;
    opacity: .5;   
    right: -9px;
}

.cwf_pane > .ui-resizable-e:hover {
    border-left: 2px solid gray;
}

.cwf_pane > .ui-resizable-s {
    cursor: row-resize;
    opacity: .5;  
    bottom: -9px;
}

.cwf_pane > .ui-resizable-s:hover {
    border-top: 2px solid gray;
}

